.editor {
  font: var(--text-headline-2-reg);
  color: var(--grey-4);
  padding-bottom: 1.5rem;
  white-space: pre-wrap;
  word-break: keep-all;

  a {
    color: var(--blue-3);
  }

  a:hover {
    text-decoration: underline;
  }
}
.editor ol,
.editor ul {
  padding-left: 2.4rem;
  margin: 1.2rem 0;
}

.editor ol {
  list-style-type: decimal;
}

.editor ul {
  list-style-type: disc;
}

.editor h1 {
  font-size: 2rem;
  padding: 12px 0;
}
.editor h1:first-child {
  padding: 0 0 12px 0;
}

.editor iframe {
  display: block;
  width: 100%;
  height: 336px;
  border: none;
  margin: 1.5rem 0;
}
