.popupSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.popupSection {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  border-radius: 0.5rem;
  background: var(--blue-0);
}

.popupSectionTitle {
  color: var(--blue-4);
  font-size: 1.3rem;
  font-weight: 500;
}

.popupSectionContentList {
  margin: 0;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  list-style-type: disc;
}

.popupSectionContent {
  color: var(--grey-4);
  font-size: 1.3rem;
  word-break: keep-all;
  display: list-item;
}

.popupInfoSectionContent {
  color: var(--blue-4);
  font-size: 1.3rem;
  line-height: 1.6;
  word-break: keep-all;
  display: list-item;
}

.popupSectionImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
