.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-popup);
}

.popUp {
  width: 80%;
  max-width: 50rem;
  max-height: 80%;
  min-height: 60%;
  display: flex;
  flex-direction: column;
}

.top {
  flex: 1;
  padding: 1.6rem 1.8rem;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

.top::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.top::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  border: 0.2rem solid var(--blue-1);
}

.top::-webkit-scrollbar-track {
  background-color: transparent;
}

.notice {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
}

.popupTitle {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.5px;
  display: flex;
  width: fit-content;
  height: 3rem;
  padding: 0.1rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
  background: var(--gradient-5);
}

.popupContent {
  color: var(--black);
  font: var(--text-headline-2-med);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--white);
  padding-top: 1.2rem;
}

.button {
  width: 100%;
  height: 4.8rem;
  border-top: 1px solid var(--blue-2);
  font: var(--text-headline-2-reg);
}
.button:hover {
  background: var(--blue-0);
}

.hideButton {
  color: var(--blue-3);
}

.closeButton {
  color: var(--blue-4);
}
.closeButton:hover {
  background: var(--blue-0);
  border-radius: 0 0 0.5rem 0.5rem;
}
