.popupSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.popupSection {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  border-radius: 0.5rem;
  background: var(--blue-0);
}

.popupSectionTitle {
  color: var(--blue-4);
  font-size: 1.3rem;
  font-weight: 500;
}

.popupSectionContent {
  color: var(--grey-4);
  font: var(--text-body-2-reg);
  word-break: keep-all;
}

.popupSectionContentList {
  margin: 0;
  padding-left: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  list-style-type: disc;
}

.popupSectionListItem {
  display: list-item;
}

.popupSectionInfo {
  color: var(--blue-4);
}

.popupSectionLink {
  color: var(--blue-3);
  cursor: pointer;
  text-decoration: underline;
}

.popupSectionImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 0.4rem;
}
