.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-popup);
}

.popUp {
  width: 80%;
  max-width: 50rem;
  max-height: 80%;
  min-height: 60%;
  display: flex;
  flex-direction: column;
}

/* top */
.top {
  flex: 1;
  padding: 1.6rem 1.8rem;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: auto;
  scrollbar-width: none;
}

.top::-webkit-scrollbar {
  width: 1rem;
  display: block;
}

.top::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* 스크롤바 색상 */
  border-radius: 0.5rem;
  border: 0.2rem solid var(--blue-1);
}

.top::-webkit-scrollbar-track {
  background-color: transparent;
}

.top pre {
  text-wrap: wrap;
  word-break: keep-all;
  font-size: 1.6rem;
}

.notice {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
}

.popupTitle {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.5px;
  display: flex;
  width: fit-content;
  height: 3rem;
  padding: 0.1rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
  background: var(--gradient-5);
}

.popupContent {
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.5px;
}

.popupSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.popupSection {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  border-radius: 0.5rem;
  background: var(--blue-0);
}

.popupSectionTitle {
  color: var(--blue-4);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.5px;
}

.popupSectionContent {
  color: var(--grey-4);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.5px;
}

/* bottom */
.bottom {
  padding: 0.8rem 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--grey-4);
  color: var(--white);
}

.radios {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.radio {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.bottom button {
  padding: 0.3rem 0.8rem;
  color: var(--white);
}

.bottom button:hover {
  border-radius: 0.5rem;
  background-color: var(--grey-3-1);
}

.hello {
  margin-bottom: 1.6rem;
  display: block;
}

.link {
  color: var(--blue-3);
}

.link:hover {
  text-decoration: underline;
}

.strong {
  color: red;
  font-weight: 500;
}

.underline {
  text-decoration: underline;
}

/* component */

.title {
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.subTitle {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.content {
  margin: 0.8rem 0 3.2rem 0;
  line-height: 1.4;
  white-space: pre-wrap;
  word-break: break-all;
}
