.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-popup);
}

.popUp {
  width: 80%;
  max-width: 50rem;
  max-height: 80%;
  min-height: 60%;
  display: flex;
  flex-direction: column;
}

/* top */
.top {
  flex: 1;
  padding: 1.6rem 1.8rem;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: auto;
  scrollbar-width: none;
}

.top::-webkit-scrollbar {
  width: 1rem;
  display: block;
}

.top::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* 스크롤바 색상 */
  border-radius: 0.5rem;
  border: 0.2rem solid var(--blue-1);
}

.top::-webkit-scrollbar-track {
  background-color: transparent;
}

.top pre {
  text-wrap: wrap;
  word-break: keep-all;
  font-size: 1.6rem;
}

.notice {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
}

.popupTitle {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.5px;
  display: flex;
  width: fit-content;
  height: 3rem;
  padding: 0.1rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
  background: var(--gradient-5);
}

.popupContent {
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.5px;
}

.popupSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.popupSection {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  border-radius: 0.5rem;
  background: var(--blue-0);
}

.popupSectionTitle {
  color: var(--blue-4);
  font-size: 1.3rem;
  font-weight: 500;
}

.popupSection ul {
  margin: 0;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  list-style-type: disc;
}

.popupSectionContent {
  color: var(--grey-4);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6;
  word-break: keep-all;
  display: list-item;
}

.popupSectionImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 0.4rem;
}

/* bottom */
.bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--white);
  padding-top: 1.2rem;
}

.hideButton {
  width: 100%;
  height: 4.8rem;
  border-top: 1px solid var(--blue-2);
  color: var(--blue-3);
  font-size: 1.6rem;
}

.closeButton {
  width: 100%;
  height: 4.8rem;
  border-top: 1px solid var(--blue-2);
  color: var(--blue-4);
  font-size: 1.6rem;
  font-weight: 500;
}

.bottom button:hover {
  background: var(--blue-0);
  overflow: hidden;
}

.closeButton:hover {
  border-radius: 0 0 0.5rem 0.5rem;
}
