.container {
  --policy-title-height: 6.9rem;
  padding-top: var(--default-appbar-height);

  display: flex;
  flex-direction: column;
}

.contentWrapper {
  padding: var(--policy-title-height) var(--default-margin) 5.4rem;

  display: flex;
  flex-direction: column;
}
.contentWrapper section {
  margin-bottom: 2rem;
}
.contentWrapper h2 {
  padding: 0.3rem 0.2rem;
  font: var(--text-headline-2-bold);
}
.contentWrapper p {
  padding: 0.4rem 0.2rem;
}
.contentWrapper ul {
  list-style-type: disc;
  padding-left: 2rem;
}
.contentWrapper ol {
  list-style-type: decimal;
  padding-left: 2.2rem;
}

.title {
  position: fixed;
  top: var(--default-appbar-height);
  height: var(--policy-title-height);
  width: 100%;
  max-width: var(--default-width);
  background: #fff;
  z-index: var(--z-index-appbar);
  padding: 1.4rem var(--default-margin) 2.1rem;
  font: var(--text-title-1-bold);
}

.content {
  padding: 2rem 1.3rem;
  border-radius: 0.5rem;
  background: #f5f5f5;
  color: var(--grey-4);
  font: var(--text-body-1-reg);
  line-height: 1.6;
  white-space: pre-line;
}
