.buttons {
  width: 100%;
  height: 6rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 2.2rem;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2.59rem;
}
.guideButton1 {
  width: fit-content;
  height: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  color: white;
  z-index: var(--z-index-toast);
  font-size: 15px;
  font-weight: 500;
}
.guideButton1Text {
  margin-left: 1rem;
}
.guideButton2 {
  width: 5.5rem;
  height: 3.4rem;

  color: var(--blue-4);
  background-color: var(--blue-0);
  border-radius: 1rem;
  z-index: var(--z-index-toast);
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guideButton1:hover .guideButton2:hover {
  cursor: pointer;
}

.container {
  height: 100vh;

  padding-top: var(--default-appbar-height);
  background-color: var(--blue-0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fetchLoadingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-index-loading);
  background-color: white;
}

.center {
  padding: 0 var(--default-margin);
  background-color: var(--blue-0);
}

.categorySelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 1.5rem 0;
  border-bottom: 0.05rem solid var(--grey-3-1);
  stroke-width: 0.05rem;
}

.categorySelectContainer {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.categorySelectText {
  font: var(--text-headline-1-med);
}

.categoryDropdownContainer {
  position: relative;
}

.dropDownList {
  position: absolute;
  top: calc(100% + 0.7rem);
}

.profileBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2rem 0 1.8rem 0;
  color: var(--grey-3-1);
  font: var(--text-body-1-reg);
}

.profileBoxLeft {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.logoIcon {
  width: 2.5rem;
  height: 1.6rem;
}

.badge {
  width: 2.4rem;
  height: 2.4rem;
}

.profileBoxRight {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: var(--black);
  cursor: pointer;
}

.profileBoxRightInvisible {
  display: none;
  cursor: pointer;
}

.dot {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: var(--grey-3-1);
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 3.4rem;
  /*padding-bottom 때문에 마지막 이미지 밑에 의도치 않은 공간이 생김*/
  padding-bottom: 11rem;
}

.title {
  color: var(--grey-4);
  font: var(--text-title-1-bold);
  outline: none;
  border: none;
  background-color: transparent;
  display: block;
  width: 100%;
  resize: none;
}

.text {
  color: var(--grey-4);
  font: var(--text-headline-2-reg);
  outline: none;
  border: none;
  background-color: transparent;
  display: block;
  width: 100%;
  min-height: 6.25rem;
  resize: none;
}

.trashInvisible {
  opacity: 0%;
  pointer-events: all;
  width: fit-content;
  position: fixed;
  bottom: 10.2rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.trashVisible {
  opacity: 100%;
  pointer-events: all;
  width: fit-content;
  position: fixed;
  bottom: 10.2rem;
  left: 50%;
  transform: translate(-50%, 0);
}
