<div style="overflow-y: scroll;" [style.height]="layoutService.getHeightWithoutHeader()">
  <mat-toolbar style="background-color: white;">
    <button mat-icon-button [routerLink]="['/board-list']">
      <mat-icon [ngStyle]="{ 'color': BLUE1 }">arrow_back_ios</mat-icon>
    </button>
    <span>{{ name }}</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button>
      <mat-icon [ngStyle]="{ 'color': BLUE1 }">search</mat-icon>
    </button>
  </mat-toolbar>

  <app-list [lists]="boardList"></app-list>

  <button mat-icon-button class="fixed-button" [routerLink]="['/board-list', name, 'post']">
    <mat-icon>edit</mat-icon>
  </button>
</div>