/*에디터 initial style*/
:global(.ProseMirror) {
  font: var(--text-headline-2-reg);
  color: var(--grey-4);
}
:global(.ProseMirror:focus) {
  outline: none;
}

/*에디터 placeholder style*/
:global(.ProseMirror p.is-editor-empty:first-child::before) {
  content: attr(data-placeholder);
  color: var(--grey-placeholder);
  font: var(--text-headline-2-reg);
  pointer-events: none;
  float: left;
  height: 0;
}

.toolbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem;
  background: transparent;
  border-bottom: 1px solid #ccc;
}

.toolbar button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.3rem;
  font-size: 2rem;
}

.divider {
  width: 1px;
  background: #ccc;
  margin: 0 0.5rem;
}

.editorContent {
  min-height: 200px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}