/*에디터 initial style*/
:global(.ProseMirror) {
  font: var(--text-headline-2-reg);
  color: var(--grey-4);
}
:global(.ProseMirror:focus) {
  outline: none;
}

/*에디터 placeholder style*/
:global(.ProseMirror p.is-editor-empty:first-child::before) {
  content: attr(data-placeholder);
  color: var(--grey-placeholder);
  font: var(--text-headline-2-reg);
  pointer-events: none;
  float: left;
  height: 0;
}
