.container {
  position: relative;

  margin: 0 var(--default-margin);
}

.trigger {
  height: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  & > div {
    display: flex;
    align-items: center;
  }

  & p {
    margin-left: 1.4rem;
    font: var(--text-headline-1-med);
  }
}

.menu {
  position: absolute;
  top: 93%;
  left: 0;
  z-index: var(--z-index-dropdown);

  width: 100%;
  max-height: 22.8rem;
  overflow: auto;

  border-radius: 0.5rem;

  box-shadow: 0 0 3.6rem 0 rgba(0, 0, 0, 0.1);
}

.item {
  height: 5rem;
  padding: 0 2rem 0 2.7rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--blue-2);

  background-color: var(--white);
  font: var(--text-headline-2-reg);
  color: var(--grey-3-1);

  transition: 200ms all ease-in-out;
  cursor: pointer;

  &.selected {
    background-color: var(--blue-0);
    color: var(--blue-4);
  }

  &:last-child {
    border: none;
  }

  &:focus {
    background-color: var(--blue-0);
    color: var(--blue-4);
    outline: none;
  }
}
