.contianer {
  --marketing-title-height: 6.9rem;
  padding-top: var(--default-appbar-height);

  display: flex;
  flex-direction: column;
}

.title {
  position: fixed;
  top: var(--default-appbar-height);
  height: var(--marketing-title-height);
  width: 100%;
  max-width: var(--default-width);
  background: #fff;
  z-index: var(--z-index-appbar);
  padding: 1.4rem var(--default-margin) 2.1rem;

  font: var(--text-title-1-bold);
}

.body {
  margin: var(--marketing-title-height) var(--default-margin) 5rem;
  padding: 1.4rem;

  background: var(--grey-1-1);
  border-radius: 0.5rem;

  font: var(--text-body-1-reg);
}

.subTitle {
  margin: 1rem 0;
}

.content {
  padding-left: 1.5rem;
}

.list {
  padding-left: 2rem;

  list-style-type: disc;
}

.list li {
  margin: 0.5rem 0;
}
