<div [style.margin-left.px]="marginLeft" [ngStyle]="{ 'width': 'calc(100% - ' + marginLeft + 'px)' }">
  <mat-toolbar style="background-color: white; width: 100%;">
    <div class="example-header-image" style="transform: translate(10px, 0px);">
      <svg width="25" height="25" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M9.5 0.738281C4.256 0.738281 0 4.99428 0 10.2383C0 15.4823 4.256 19.7383 9.5 19.7383C14.744 19.7383 19 15.4823 19 10.2383C19 4.99428 14.744 0.738281 9.5 0.738281ZM9.5 17.8383C5.3105 17.8383 1.9 14.4278 1.9 10.2383C1.9 10.2288 1.9 10.2193 1.9 10.2098C4.0945 10.0008 5.1585 8.69928 6.023 6.97028C6.1845 6.63778 6.5075 6.43828 6.878 6.43828H12.1315C12.4925 6.43828 12.8155 6.63778 12.977 6.96078C13.832 8.67078 14.8675 9.99128 17.1 10.2003C17.1 10.2098 17.1 10.2193 17.1 10.2288C17.1 14.4278 13.6895 17.8383 9.5 17.8383Z"
          fill="#00368E" />
        <path
          d="M6.6499 12.376C7.30574 12.376 7.8374 11.8443 7.8374 11.1885C7.8374 10.5326 7.30574 10.001 6.6499 10.001C5.99406 10.001 5.4624 10.5326 5.4624 11.1885C5.4624 11.8443 5.99406 12.376 6.6499 12.376Z"
          fill="#00368E" />
        <path
          d="M12.3501 12.376C13.0059 12.376 13.5376 11.8443 13.5376 11.1885C13.5376 10.5326 13.0059 10.001 12.3501 10.001C11.6943 10.001 11.1626 10.5326 11.1626 11.1885C11.1626 11.8443 11.6943 12.376 12.3501 12.376Z"
          fill="#00368E" />
      </svg>
    </div>
    @if (comment.isDeleted) {
      <div style="transform: translate(20px, -2.8px); font-size: 14px;">삭제됨</div>
    }
    @else {
      <div style="transform: translate(20px, -2.8px); font-size: 14px;">{{ comment.userDisplay }}{{ comment.isWriter ? ' (글쓴이)' : '' }}{{ comment.isUpdated ? ' (편집됨)' : '' }}</div>
    }
    <span class="toolbar-spacer"></span>
    <div style="display: flex;">
      <app-chat [reportCount]="comment.children.length"></app-chat>
      <app-like [likeCount]="comment.likeCount" [translate]="{ x: 0, y: -4.6 }" style="transform: translate(0px, 3px);"></app-like>
    </div>
    <button mat-icon-button  [matMenuTriggerFor]="menu" [disabled]="comment.isDeleted" style="transform: translate(0px, -5.8px);">
      <mat-icon [ngStyle]="{ 'color': BLUE1 }">more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <div style="margin: 0 27px;">
    @if (isUpdating) {
      <div style="display: flex; gap: 20px; width: 100%;">
        <input #input class="none-outline" atInput type="text" [(ngModel)]="comment.content">
        <button mat-button [ngStyle]="{ 'color': BLUE1 }" (click)="updateCommnet(input.value)">수정</button>
      </div>
    }
    @else {
      <p style="word-wrap: break-word; white-space: pre-wrap;">{{ comment.isDeleted ? '(삭제됨)' : comment.content }}</p>
    }
    <p class="content-action-button" style="font-size: 12px; color: #6A6A6A;">
      {{ comment.createdAt | full1Date }}
    </p>
  </div>
  @if (isShowReply) {
    <app-comment-input (enter)="enterComment($event)"></app-comment-input>
  }
  @else {
  <mat-divider></mat-divider>    
  }
</div>
@if (!comment.children.isEmpty()) {
  @for (child of comment.children; track $index) {
    <app-comment [marginLeft]="marginLeft + 30" [comment]="child" (enter)="enterComment($event)"></app-comment>
  }
}


<mat-menu #menu="matMenu">
  @if (comment.parentId == null) {
    <button mat-menu-item (click)="isShowReply = !isShowReply">
      <mat-icon>reply</mat-icon>
      <span>{{ isShowReply ? '대댓글 쓰기 취소' : '대댓글 쓰기' }}</span>
    </button>
  }
  @if (comment.isWriter) {
    <button mat-menu-item (click)="isUpdating = !isUpdating">
      <mat-icon>edit_note</mat-icon>
      <span>{{ isUpdating ? '수정취소' : '수정하기' }}</span>
    </button>
    <button mat-menu-item (click)="deleteComment()">
      <mat-icon>delete</mat-icon>
      <span>삭제하기</span>
    </button>
  }
  @else {
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>댓글/유저 신고</span>
    </button>
  }
</mat-menu>
