.container {
  width: 11rem;
  position: fixed;
  z-index: var(--z-index-dropdown);
  background-color: var(--white);
  border: 0.1rem solid var(--blue-2);
  box-shadow: 0 0 2rem var(--grey-3);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: var(--text-body-2-reg);
  text-align: center;
  user-select: none;
  padding: 0.3rem;
  border-bottom: 0.1rem solid var(--blue-2);
  cursor: default;
}

.button {
  width: 100%;
  font-size: var(--text-body-2-reg);
  text-align: left;
  padding: 1rem;
  border-bottom: 0.1rem solid var(--blue-2);
  cursor: pointer;
}

.button:hover {
  background-color: var(--blue-0);
}

.button:last-child {
  border-bottom: none;
}

.button:last-child:hover {
  border-radius: 0 0 0.5rem 0.5rem;
}
