.field {
  margin: 0 var(--default-margin);

  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.label {
  font: var(--text-headline-2-med);
  color: var(--grey-4);
}

.input {
  outline: none;
  padding: 0 1.3rem;

  height: 5rem;
  border-radius: 0.5rem;
  background-color: var(--blue-0);
  border: 1px solid var(--blue-2);

  font: var(--text-body-1-reg);
  color: var(--grey-4);

  &::placeholder {
    color: var(--grey-3-1);
  }
}
