.container {
  min-height: 100%;
  padding-bottom: 2.4rem;
  background-color: var(--white);
}

/* meta */
.meta {
  padding: 0.4rem var(--default-margin) 2.2rem;
  border-bottom: 0.8rem solid var(--grey-1);

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  margin-bottom: 1rem;

  font: var(--text-body-2-reg);
  color: var(--grey-3-1);
}

.sellerName {
  display: block;
  margin-bottom: 0.2rem;
  font: var(--text-body-2-bold);
  color: var(--blue-4);
}

.title {
  font: var(--text-title-1-bold);
  color: var(--grey-4);
  word-break: keep-all;
}

.deadline {
  font: var(--text-body-2-reg);
  color: var(--grey-4);

  flex-shrink: 0;
  padding-top: 0.2rem;
}
