.container {
  min-height: 100%;
  padding-bottom: 2.4rem;
  background-color: var(--white);
}

/* meta */
.meta {
  padding: 0.4rem var(--default-margin) 2.2rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  margin-bottom: 1rem;

  font: var(--text-body-2-reg);
  color: var(--grey-3-1);
}

.sellerName {
  display: block;
  margin-bottom: 0.2rem;
  font: var(--text-body-2-bold);
  color: var(--blue-4);
}

.title {
  font: var(--text-title-1-bold);
  color: var(--grey-4);
  word-break: keep-all;
}

.deadline {
  font: var(--text-body-2-reg);
  color: var(--grey-4);

  flex-shrink: 0;
  padding-top: 0.2rem;
}

/* product */
.productCarousel {
  padding-bottom: 4rem;
}

.productInfo {
  padding: 2rem var(--default-margin) 2rem;
  min-width: 0;
}

.productName {
  margin-bottom: 0.6rem;
  font: var(--text-headline-1-bold);
  color: var(--grey-4);
  word-break: keep-all;
}

.productDescription {
  font: var(--text-body-1-reg);
  color: var(--grey-4);
  white-space: pre-wrap;
  word-break: keep-all;
}

/* border */
.border {
  margin: 0 var(--default-margin);
  height: 0.5px;
  background-color: var(--grey-2);
}
