.container {
  height: 5.7rem;
  padding: 0.9rem 0;

  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  border-top: 0.05rem solid rgba(var(--grey-3-1-rgb), 0.7);
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  padding: 0.8rem;
  width: 100%;
  border-radius: 0.5rem;
  transition: all 200ms ease-in-out;
  cursor: pointer;

  p {
    color: var(--grey-3-1);
    font: var(--text-body-1-reg);
  }

  &:hover {
    background-color: var(--blue-1);
  }
}

.heart,
.heartLiked {
  flex-shrink: 0;
  width: 16px;
  height: 15px;
}

.heartLiked {
  animation: heartPop 0.727318s linear;
}

@keyframes heartPop {
  0% {
    width: 16px;
    height: 15px;
    translate: 0 0;
    animation-timing-function: linear(
      0,
      0.0188,
      0.0679,
      0.1374,
      0.2195,
      0.3079,
      0.3977,
      0.4854,
      0.5684,
      0.645,
      0.7141,
      0.7751,
      0.8281,
      0.8733,
      0.9111,
      0.9421,
      0.967,
      0.9865,
      1.0013,
      1.0122,
      1.0197,
      1.0246,
      1.0273,
      1.0283,
      1.028,
      1.0268,
      1.025,
      1.0227,
      1.0202,
      1.0177,
      1.0152,
      1.0128,
      1.0106,
      1.0086,
      1.0068,
      1.0052,
      1.0039,
      1.0028,
      1.0018,
      1.0011,
      1.0005,
      1.0001,
      0.9997,
      0.9995,
      0.9993,
      0.9992,
      0.9992,
      0.9992,
      0.9992,
      0.9993,
      0.9993
    );
  }

  14.4384%,
  14.5759% {
    width: 20px;
    height: 19px;
    translate: -2px -2px;
    animation-timing-function: linear(
      0,
      0.0289,
      0.1038,
      0.2087,
      0.3301,
      0.4571,
      0.5812,
      0.6964,
      0.7986,
      0.8855,
      0.9563,
      1.0113,
      1.0514,
      1.0784,
      1.0941,
      1.1006,
      1.0998,
      1.0938,
      1.0842,
      1.0724,
      1.0596,
      1.0469,
      1.0349,
      1.024,
      1.0146,
      1.0069,
      1.0007,
      0.9961,
      0.9929,
      0.991,
      0.99,
      0.9898,
      0.9902,
      0.9911,
      0.9922,
      0.9935,
      0.9948,
      0.996,
      0.9972,
      0.9982,
      0.999,
      0.9997,
      1.0002,
      1.0006,
      1.0009,
      1.001,
      1.001,
      1.001,
      1.0009,
      1.0008,
      1.0007
    );
  }

  100% {
    width: 16px;
    height: 15px;
    translate: 0 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .heartLiked {
    animation-duration: 0.01ms;
  }
}
