<mat-menu #menu="matMenu">
  <button mat-menu-item disabled>
    <mat-icon>send</mat-icon>
    <span>쪽지 보내기</span>
  </button>
  <button mat-menu-item [routerLink]="['/review/post']">
    <mat-icon>share</mat-icon>
    <span>공유하기</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_on</mat-icon>
    <span>새 댓글 알림 받기</span>
  </button>
  <button mat-menu-item>
    <mat-icon [ngStyle]="{ 'color': PINK1 }">flag</mat-icon>
    <span [ngStyle]="{ 'color': PINK1 }">게시물/유저 신고</span>
  </button>
</mat-menu>

<mat-list>
  @for (element of list; track element) {
  <mat-card matRipple class="text-ellipsis pointer" style="background-color: white; border-radius: 0px;"
    [routerLink]="[element.postId]">
    <div class="flex-row div-p15-height">
      <div mat-card-avatar>
        <p style="color: #00368E; font-size: 12px;">23-겨울계절 | 기말</p>
      </div>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button class="small-button" style="transform:translate(1px, -8px);" [matMenuTriggerFor]="menu"
        (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <mat-card-content>
      <p>
        {{ element.title }}
      </p>
    </mat-card-content>
    <mat-card-actions align="end" style="padding: 0px; height: 20px;">
      <div style="display: flex; gap: 10px; font-size: 12px;">
        <div>{{ element.userDisplay }}</div>
        <div>{{ element.createdAt | full1Date }}</div>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>
  }
</mat-list>