.example-card {
  max-width: 400px;
}

.example-header-image {
  //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.div-p15-height {
  height: 25px;
  padding: 15px 10px 5px 15px;
}

.div-p7-height {
  height: 25px;
  padding: 10px 10px 5px 7px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.small-button {
  padding: 4px 10px;
  font-size: 12px;
  min-width: 30px;
}

.small-button mat-icon {
  color: #5F86BF;
  font-size: 16px;
  margin-right: 4px;
}

.content-action-button {
  transform: translate(-1.5px, -3px);
}