<div [formGroup]="dynamicForm" [ngStyle]="control.styles?.layout">
  @if (control.label) {
  <div [ngStyle]="control.styles?.label">{{ control.label }}</div>
  }
  <mat-form-field appearance="outline" style="width: 100%;">
    <input matInput [type]="control.type" [placeholder]="control.placeholder || ''" [formControlName]="control.name"
      [matAutocomplete]="autoGroup" [ngStyle]="control.styles?.input">
    <mat-autocomplete #autoGroup="matAutocomplete">
      @for (group of groupOptions[getSelectIndex(control.name)] | async; track $index) {
      @if (group.main === '') {
      @for (element of group.sub; track element) {
      <mat-option [value]="element">{{ element }}</mat-option>
      }
      }
      @else {
      <mat-optgroup [label]="group.main">
        @for (element of group.sub; track $index) {
        <mat-option [value]="element">{{ element }}</mat-option>
        }
      </mat-optgroup>
      }
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
@if (dynamicForm.get(control.name)?.invalid && dynamicForm.get(control.name)?.touched) {
<mat-error>{{ getErrorMessage(control, null) }}</mat-error>
}