<app-header name="회원 탈퇴" icon="arrow_back_ios" (clickLeft)="goBack()"></app-header>
<div style="margin: 30px 20px;">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 20px;">
    <h2>탈퇴 시 아래 내용을 확인해주세요</h2>
    <ul style="color: #666666;">
      <li>아이디, 이메일, 학번은 .. 목적으로 6개월간 보관됩니다</li>
      <li>보유 포인트 및 포인트 기록은 복구가 불가능합니다</li>
      <li>등등 ..</li>
    </ul>
  </div>
  
  @if (isDelete) {
    <app-dynamic-form key="delete-user" [button]="null"></app-dynamic-form>
  }

  <div style="display: flex; justify-content: center; margin-top: 25px;">
    <button mat-stroked-button style="width: 100%;" (click)="isDelete ? withdrawal() :  markForDelete()">{{ isDelete ? '탈퇴하기' : '탈퇴하시겠습니까?' }}</button>
  </div>
</div>
