<app-header name="" icon="menu" link=""></app-header>
<div style="margin: 5px 20px;">
  <mat-form-field appearance="outline" style="border-radius: 30px !important; width: 100%;">
    <mat-label>Filter</mat-label>
    <input style="width: 100%;" matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    <button matSuffix mat-icon-button aria-label="Clear" (click)="searchReview($event)">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>
<app-review-list></app-review-list>
<app-bottom-navigation></app-bottom-navigation>