<app-header icon="menu" name="시험 후기" rightButton="후기 작성" (clickRight)="write()"></app-header>
<div #listDiv class="hide-scrollbar" style="overflow-y: scroll;" [style.height]="layoutService.getMainHeight()"
  appInfiniteScroll (nearEnd)="onNearEndScroll()">
  <!-- <mat-form-field appearance="outline" style="border-radius: 30px !important; width: 100%;">
    <mat-label>Filter</mat-label>
    <input style="width: 100%;" matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    <button matSuffix mat-icon-button aria-label="Clear" (click)="searchReview($event)">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field> -->
  @if (isLoading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <app-review-list [list]="list"></app-review-list>
</div>
<app-bottom-navigation></app-bottom-navigation>