.guidelineContainer {
  width: 100%;
  max-width: var(--default-width);
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: var(--z-index-toast);
  display: flex;
  flex-direction: column;
}
.guidelineContainer {
  :global(.swiper-pagination-bullet) {
    width: 10px;
    height: 10px;
    background-color: var(--grey-3-1);
  }
  :global(.swiper-pagination-bullet-active) {
    width: 10px;
    height: 10px;
    background-color: var(--white);
  }
}
.guideContainer {
  flex: 1;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  position: absolute;
  top: 0 !important;
}
