.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1.4rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &.read {
    background-color: var(--grey-1-1);

    .title,
    .content,
    .contentFull {
      color: var(--grey-4);
    }
  }

  &.unread {
    background: var(--gradient-4);

    .title,
    .content,
    .contentFull {
      color: var(--blue-4);
    }
  }
}

/* top */

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.8rem;

  & > div {
    display: flex;
    align-items: flex-start;
    gap: 0.6rem;
    min-width: 0;
  }
}

.title {
  font: var(--text-body-1-med);
  min-width: 0;
  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.title + * {
  flex-shrink: 0;
}

.createdAt {
  flex-shrink: 0;
  font: var(--text-body-1-reg);
  color: var(--grey-3-1);
}

/* bottom */

.content {
  font: var(--text-body-1-reg);

  white-space: normal;
  word-break: keep-all;
  overflow: visible;
  text-overflow: clip;
  overflow-wrap: break-word;
}

.contentFull {
  font: var(--text-body-1-reg);

  white-space: normal;
  word-break: keep-all;
  overflow: visible;
  text-overflow: clip;
  overflow-wrap: break-word;
}
