.button {
  padding: 0.8rem 0 0.8rem 0.8rem;

  background-color: transparent;
  font: var(--text-headline-2-reg);

  color: var(--grey-4);

  &:disabled {
    color: var(--grey-3-1);

    cursor: default;
  }
}
