.loading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerBox {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  font-size: 1.3rem;
}

.icon,
.iconStatic {
  width: 4.4rem;
  height: 2.7rem;
}

.icon {
  animation: rotateAndPause 1s linear infinite;
}

.icon img,
.iconStatic img {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes rotateAndPause {
  0% {
    transform: rotate(180deg);
  }

  15% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
