<mat-toolbar class="comment-nav">
  <!-- <button mat-icon-button disabled style="transform: translate(-1px, -2.1px);">
    <mat-icon [ngStyle]="{ 'color': BLUE1 }">face_6</mat-icon>
  </button> -->
  <div style="width: 100%;">
    <textarea #textarea row="1"
    (input)="autoResize()"
    (focus)="expandTextarea()"
    (blur)="shrinkTextarea()"
    (keydown.enter)="submitComment($event, textarea.value)"
    placeholder="댓글을 입력하세요..."
    class="comment-textarea"></textarea>
  </div>
  <button mat-button [ngStyle]="{ 'color': BLUE1 }" style="transform: translate(2px, -2px);" (click)="submitComment($event, textarea.value)">게시</button>
</mat-toolbar>
