<router-outlet class="hide-scrollbar"></router-outlet>

<mat-toolbar class="nav">
  <a routerLink="main">
    <button class="flex-center">
      <mat-icon>home</mat-icon>
      <span>홈</span>
    </button>
  </a>
  <a routerLink="board-list">
    <button class="flex-center">
      <mat-icon>grid_view</mat-icon>
      <span>게시판</span>
    </button>
  </a>
  <a routerLink="file">
    <button class="flex-center">
      <mat-icon>description</mat-icon>
      <span>족보</span>
    </button>
  </a>
  <a routerLink="main">
    <button class="flex-center">
      <mat-icon>account_circle</mat-icon>
      <span>계정</span>
    </button>
  </a>
</mat-toolbar>