/* HomeCard */

.layout {
  margin: 3rem var(--default-margin);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.notice,
.attendance {
  display: block;
}

.noticeCard {
  height: 7rem;
  padding: 1.4rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--blue-0);
  border-radius: 0.6rem;
}

.noticeText {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  gap: 0.2rem;
}

.noticeHeader {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.noticeLabel {
  color: var(--Blue-Blue-4, #00368e);
  font: var(--text-headline-2-med);
}

.noticeContent {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: var(--Grey-Grey-4, #484848);
  font: var(--text-body-1-med);
}

.noticeArrow {
  flex: 0 0 auto;
  color: var(--grey-4);
}

.attendanceCard {
  height: 4.7rem;
  padding: 1.4rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gradient-5);
  border-radius: 5px;
}

.attendanceText {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.attendanceTitle {
  color: var(--White-White, #fff);
  font: var(--text-headline-2-med);
}

.attendanceImage {
  width: 18px;
  height: 19px;
}

.attendanceArrow {
  color: var(--White-White, #fff);
}

.attendanceArrow path {
  fill: white;
}