/* HomeCard */

.layout {
  margin: 3rem var(--default-margin) 3rem var(--default-margin);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.notice,
.attendance {
  display: block;
  width: 100%;
}

.noticeCard {
  width: 100%;
  height: 11rem;
  padding: 1.4rem 0 1.2rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--blue-0);
  border-radius: 0.6rem;
  box-sizing: border-box;
  color: var(--blue-4);
  overflow: hidden;
}

.noticeCard.dark {
  background: var(--gradient-5);
  color: var(--white);
}

.noticeText {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-break: keep-all;
}

.noticeTitle {
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  white-space: pre-line;

  font: var(--text-headline-1-med);
}

.noticeImage {
  width: 5.8rem;
  height: auto;
  margin: 2.5rem 1.2rem 0rem 2.5rem;
}

.attendanceCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.7rem;
  padding: 1.4rem;
  background: var(--gradient-5);
  border-radius: 5px;
}

.attendanceText {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.attendanceTitle {
  color: var(--White-White, #fff);
  font-size: 16px;
  font-weight: 500;
}

.attendanceImage {
  width: 18px;
  height: 19px;
}

.attendanceArrow {
  color: var(--White-White, #fff);
}
