.form {
  color: var(--grey-4);
  font: var(--text-headline-2-med);
}

.section {
  margin: 0.7rem 0 1.8rem;
}

.section p {
  margin-bottom: 0.7rem;
  font: var(--text-headline-2-med);
  color: var(--grey-4);
}

.divider {
  height: 0.1rem;
  border: 0;
  background: var(--blue-2);
}

.error {
  border: 1px solid var(--pink-3);
  color: var(--pink-3);
  background-color: var(--pink-1);
}

.errorMessage {
  color: var(--pink-3);
  margin-top: 0.3rem;
  display: block;
}

.required {
  color: var(--pink-3);
  font: var(--text-headline-1-med);
  margin-left: 0.3rem;
}
