.container {
  height: 100%;

  padding-top: var(--default-appbar-height);

  overflow-y: scroll;
}

.container form {
  height: 100%;

  padding: 0 var(--default-margin);
}

.findIdFrame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.pageTitle {
  font: var(--text-title-1-bold);
  margin-top: 1.4rem;
  margin-bottom: 5.6rem;
}

.form {
  margin-bottom: 1.8rem;

  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.buttonFrame {
  margin-top: 2.4rem;
  margin-bottom: 4rem;
}

.idInfoBtn.active {
  background-color: var(--grey-3);
}

.idInfoBtn {
  width: 11rem;
  height: 3.6rem;
  border-radius: 0.5rem;
  border: solid 0.1rem var(--grey-3);
  margin-top: 1.8rem;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  & p {
    font: var(--text-body-1-reg);
    color: var(--blue-3);
  }
}

.alert {
  margin-top: 1.4rem;
  font: var(--text-body-1-reg);
  color: grey;
  word-break: keep-all;
  & ol {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
  & .highlight + ol {
    margin-top: 0.6rem;
  }
  & li {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
    &::before {
      content: '';
      flex-shrink: 0;
      margin-top: calc((1lh - 0.8rem) / 2);
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background-color: var(--grey-3);
    }
  }
}

.highlight {
  color: var(--blue-3);
  font: var(--text-body-1-reg);
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-top: 0.4rem;
  padding-left: 1.6rem;
}

.note {
  color: var(--blue-3);
  font: var(--text-body-1-reg);
  word-break: keep-all;
  margin-top: 0.8rem;
}

.googleFormBtn {
  width: 8.5rem;
  height: 3.6rem;
  border-radius: 0.5rem;
  border: solid 0.1rem var(--grey-3);
  margin-top: 1.8rem;
  display: flex;
  justify-content: center;
  color: var(--blue-3);
  align-items: center;
  gap: 0.1rem;
}

.googleFormBtn a {
  color: var(--blue-3);
}
