.container {
  padding-top: var(--default-appbar-height);

  height: 100dvh;
  background-color: var(--blue-0);
}

/* line */
.container > div:nth-of-type(2) {
  border-bottom: 0.5px solid var(--grey-3-1);
}

.button:disabled {
  cursor: auto;
}

/* form */
.form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

/* file */
.fileContainer {
  margin: 0 var(--default-margin);

  display: flex;
  align-items: center;
  gap: 1.2rem;

  & > div {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    font: var(--text-headline-2-med);
    color: var(--grey-4);
  }

  & > .fileName {
    flex: 1;

    padding: 0 1.3rem;

    height: 4rem;

    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid var(--blue-2);
    background-color: var(--blue-0);

    font: var(--text-body-1-reg);
    text-decoration: underline;
  }

  & > .fileName.placeholder {
    color: var(--grey-3-1);
    text-decoration: none;
  }
}

/* submit button */
.submit {
  padding: 0.8rem 0 0.8rem 0.8rem;

  background-color: transparent;
  font: var(--text-headline-2-reg);

  color: var(--grey-4);

  &:disabled {
    color: var(--grey-3-1);

    cursor: default;
  }
}
