.pointer {
  cursor: pointer !important;
}

.font-600 {
  font-weight: 600;
}

.font-size {
  font-size: 21px;
}

.p-30 {
  padding: 30px;
}

.list {
  border: 1px solid #D9D9D9;
  border-radius: 20px !important;
  margin: 10px 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.gray-small-font {
  color: #6A6A6A;
  font-size: 12px;
}

.translate-1 {
  transform: translate(1px, 7px);
}