<mat-tab-group [style.height]="layoutService.getMainHeight()">
  <mat-tab label="SNOROSE">
    <mat-list>
      <div mat-subheader>공지사항</div>
      @for (announcement of announcements; track announcement) {
      <mat-list-item matRipple [routerLink]="['board', announcement.name, announcement.boardId]">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{announcement.name}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      }
    </mat-list>
  </mat-tab>
  <mat-tab label="커뮤니티">
    <mat-list>
      <div mat-subheader>커뮤니티</div>
      @for (community of communityList; track community) {
      <mat-list-item matRipple [routerLink]="['board', community.name, community.boardId]">
        <mat-icon matListItemIcon>ac_unit</mat-icon>
        <div matListItemTitle>{{community.name}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      }
      <br />
      <div mat-subheader>학과</div>
      @for (department of departmentList; track department) {
      <mat-list-item matRipple [routerLink]="['board', department.name, department.boardId]">
        <mat-icon matListItemIcon>groups</mat-icon>
        <div matListItemTitle>{{department.name}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      }
    </mat-list>
  </mat-tab>
  <mat-tab label="Third">
    <mat-list>
      <div mat-subheader>커뮤니티</div>
      @for (community of communityList; track community) {
      <mat-list-item matRipple [routerLink]="['board', community.name, community.boardId]">
        <mat-icon matListItemIcon>groups</mat-icon>
        <div matListItemTitle>{{community.name}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      }
    </mat-list>
  </mat-tab>
</mat-tab-group>