.container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 9.8rem;
  border-radius: 0.6rem;
  background-color: var(--grey-1);
  transition: background-color 200ms ease-in-out;

  h3,
  p {
    transition: color 200ms ease-in-out;
  }

  &:hover {
    background-color: var(--blue-4);

    h3,
    p {
      color: white;
    }
  }
}

.image {
  position: absolute;
  top: var(--board-image-top, 55%);
  right: var(--board-image-right, -0.2rem);
  bottom: var(--board-image-bottom, auto);
  transform: var(--board-image-transform, translateY(-50%));
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  position: absolute;
  left: 1.2rem;
  bottom: 1.2rem;
  white-space: pre-wrap;
}

.title {
  font: var(--text-headline-2-med);
}

.description {
  font: var(--text-body-1-reg);
  color: var(--grey-3-1);
}
.favoriteIcon {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  cursor: pointer;
}
