<div [formGroup]="dynamicForm" [ngStyle]="control.styles?.layout">
  @if (control.label) {
  <div [ngStyle]="control.styles?.label">{{ control.label }}</div>
  }
  <div style="width: 100%;">
    @if (control.styles?.input) {
    <input matInput [type]="control.type" [placeholder]="control.placeholder || ''" [formControlName]="control.name"
      [ngStyle]="control.styles?.input">
    }
    @else {
    <mat-form-field appearance="outline" style="width: 100%;">
      <input matInput [type]="control.type" [placeholder]="control.placeholder || ''" [formControlName]="control.name"
        [ngStyle]="control.styles?.input">
    </mat-form-field>
    }
    @if (dynamicForm.get(control.name)?.invalid && dynamicForm.get(control.name)?.touched) {
    <mat-error style="margin-top: -10px;">
      {{ getErrorMessage(control, null) }}
    </mat-error>
    }
  </div>
</div>