<div [style.height]="layoutService.getHeightWithoutHeader()">
  <mat-stepper orientation="vertical" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>
          <p style="font-weight: 600 !important; transform: translate(0px, 6px);">
            계정 정보 입력
          </p>
        </ng-template>
        <div class="p-10">
          <mat-form-field appearance="outline">
            <input matInput placeholder="이름" formControlName="userName" required>
          </mat-form-field>
        </div>
        <div class="p-10">
          <mat-form-field appearance="outline">
            <input matInput placeholder="숙명 구글 이메일" formControlName="email" required>
          </mat-form-field>
        </div>
        <div class="p-10">
          <mat-form-field appearance="outline">
            <input matInput placeholder="아이디" formControlName="loginId" required>
          </mat-form-field>
        </div>
        <div class="p-10">
          <mat-form-field appearance="outline">
            <input matInput placeholder="비밀번호" formControlName="password" required [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="p-10">
          <mat-form-field appearance="outline">
            <input matInput placeholder="비밀번호 확인" formControlName="checkedPassword" required
              [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext
            style="border-radius: 50px; border: 1px solid #5F86BF; color: #5F86BF">다음</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>
          <p style="font-weight: 600 !important; transform: translate(0px, 6px);">
            이메일 인증
          </p>
        </ng-template>
        <div class="p-10">
          <div>숙명 구글 이메일로</div>
          <div style="margin-bottom: 25px;">확인 코드를 보내드렸어요!</div>
          <mat-form-field appearance="outline">
            <input matInput formControlName="nickname" placeholder="확인 코드를 입력해주세요" required>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious
            style="margin: 10px; border-radius: 50px; border: 1px solid #5F86BF; color: #5F86BF">이전</button>
          <button mat-button matStepperNext
            style="border-radius: 50px; border: 1px solid #5F86BF; color: #5F86BF">다음</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>
          <p style="font-weight: 600 !important; transform: translate(0px, 6px);">
            사용자 정보 입력
          </p>
        </ng-template>
        <div class="p-10">
          <mat-form-field appearance="outline">
            <input matInput formControlName="nickname" placeholder="닉네임" required>
          </mat-form-field>
        </div>
        <div class="p-10">
          <mat-form-field appearance="outline">
            <input matInput formControlName="studentNumber" placeholder="학번" required>
          </mat-form-field>
        </div>
        <div class="p-10">
          <mat-form-field appearance="outline">
            <mat-select formControlName="major" placeholder="전공">
              @for (major of majorList; track $index) {
              <mat-option [value]="major">{{ major }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="p-10">
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker" formControlName="birthday" placeholder="생년월일" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious
            style="margin: 10px; border-radius: 50px; border: 1px solid #5F86BF; color: #5F86BF">이전</button>
          <button mat-button matStepperNext
            style="border-radius: 50px; border: 1px solid #5F86BF; color: #5F86BF">다음</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>완료</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious
          style="margin: 10px; border-radius: 50px; border: 1px solid #5F86BF; color: #5F86BF">이전</button>
        <button mat-button matStepperNext
          style="border-radius: 50px; border: 1px solid #5F86BF; color: #5F86BF">다음</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>