.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 0 10px;
  overflow-y: hidden;
}

.full-width {
  width: 100%;
  border-radius: 10px !important;
}

.error-message {
  color: red;
}