.toolbar-spacer-app {
  flex: 1 1 auto;
}

.nav {
  position: fixed;
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.nav button {
  margin: 0 5px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 10px;
}

.select {
  color: #00368E;
}

.non-select-icon {
  color: #BFD7EC;
}

.non-select-name {
  color: #5F86BF;
}