/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@import 'swiper/scss';
@import 'swiper/scss/pagination';

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/font/NotoSansKR-Regular.ttf) format('woff2');
}

$baseColor : #00368E;
$m3-light-theme: matx.define-theme((
  color: (
    primary: matx.$m3-azure-palette,
    tertiary: matx.$m3-blue-palette,
    )
));

.light-theme {
  @include mat.all-component-themes($m3-light-theme);
}

html,
body {
  height: 100%;
  font-family: "NotoSans" !important;
}

body {
  margin: 0;
  font-family: "NotoSans" !important;
}

button {
  all: initial;
  cursor: pointer;
  font-family: "NotoSans" !important;
}

input, textarea {
  font-family: "NotoSans" !important;
}

a {
  all: initial;
  cursor: pointer;
}

.text-ellipsis {
  white-space: nowrap;
  /* 텍스트를 한 줄로 유지 */
  overflow: hidden;
  /* 넘치는 텍스트를 숨김 */
  text-overflow: ellipsis;
  /* 말줄임표(...)를 표시 */
}

/* 스크롤바 숨기기 (모던 브라우저) */
.hide-scrollbar {
  overflow: auto;
  /* 스크롤은 유지 */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* 웹킷 기반 브라우저 (크롬, 사파리)에서 스크롤바 숨기기 */
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge에서 스크롤바 숨기기 */
  scrollbar-width: none;
  /* Firefox에서 스크롤바 숨기기 */
}

.toolbar-spacer {
  flex: 1 1 auto;
  /* 남는 공간을 모두 차지 */
}

.pointer {
  cursor: pointer;
}

mat-toolbar {
  font-family: "NotoSans" !important;
}

mat-card-title, mat-card-subtitle {
  font-family: "NotoSans" !important;
}

div, p, h1, h2, h3 {
  font-family: "NotoSans" !important;
}