<mat-menu #menu="matMenu">
  <button mat-menu-item disabled>
    <mat-icon>send</mat-icon>
    <span>쪽지 보내기</span>
  </button>
  <button mat-menu-item [routerLink]="['/board', this.boardId, '/post']">
    <mat-icon>share</mat-icon>
    <span>공유하기</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_on</mat-icon>
    <span>새 댓글 알림 받기</span>
  </button>
  <button mat-menu-item>
    <mat-icon [ngStyle]="{ 'color': PINK1 }">flag</mat-icon>
    <span [ngStyle]="{ 'color': PINK1 }">게시물/유저 신고</span>
  </button>
</mat-menu>

<mat-list>
  @for (list of lists; track list) {
  <mat-card matRipple class="text-ellipsis pointer" [routerLink]="[list.postId]">
    <div class="flex-row div-p15-height">
      <div style="transform:translate(1px, -2px);" mat-card-avatar class="example-header-image">
        <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9.5 0.738281C4.256 0.738281 0 4.99428 0 10.2383C0 15.4823 4.256 19.7383 9.5 19.7383C14.744 19.7383 19 15.4823 19 10.2383C19 4.99428 14.744 0.738281 9.5 0.738281ZM9.5 17.8383C5.3105 17.8383 1.9 14.4278 1.9 10.2383C1.9 10.2288 1.9 10.2193 1.9 10.2098C4.0945 10.0008 5.1585 8.69928 6.023 6.97028C6.1845 6.63778 6.5075 6.43828 6.878 6.43828H12.1315C12.4925 6.43828 12.8155 6.63778 12.977 6.96078C13.832 8.67078 14.8675 9.99128 17.1 10.2003C17.1 10.2098 17.1 10.2193 17.1 10.2288C17.1 14.4278 13.6895 17.8383 9.5 17.8383Z"
            fill="#00368E" />
          <path
            d="M6.6499 12.376C7.30574 12.376 7.8374 11.8443 7.8374 11.1885C7.8374 10.5326 7.30574 10.001 6.6499 10.001C5.99406 10.001 5.4624 10.5326 5.4624 11.1885C5.4624 11.8443 5.99406 12.376 6.6499 12.376Z"
            fill="#00368E" />
          <path
            d="M12.3501 12.376C13.0059 12.376 13.5376 11.8443 13.5376 11.1885C13.5376 10.5326 13.0059 10.001 12.3501 10.001C11.6943 10.001 11.1626 10.5326 11.1626 11.1885C11.1626 11.8443 11.6943 12.376 12.3501 12.376Z"
            fill="#00368E" />
        </svg>
      </div>
      <div style="transform:translate(1px, -2px); font-size: small;">{{list.userDisplay}}</div>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button class="small-button" style="transform:translate(1px, -8px);" [matMenuTriggerFor]="menu"
        (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <mat-card-content>
      <p>
        {{ list.title }}
      </p>
    </mat-card-content>
    <div class="flex-row div-p7-height">
      <div class="flex-row small-button">
        <mat-icon>chat_bubble</mat-icon>
        <p class="content-action-button">
          {{ list.likeCount }}
        </p>
      </div>
      <div class="flex-row small-button">
        <mat-icon>favorite</mat-icon>
        <p class="content-action-button">
          {{ list.likeCount }}
        </p>
      </div>
    </div>
  </mat-card>
  <mat-divider></mat-divider>
  }
</mat-list>