.container {
  padding: 1.3rem;

  border-radius: 0.5rem;
  background-color: var(--grey-1);

  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.body {
  margin-bottom: 0.5rem;

  display: flex;
  justify-content: space-between;

  & > div:first-child {
    flex: 1;
  }
}

.meta {
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  gap: 0.6rem;

  font: var(--text-body-2-reg);
  color: var(--grey-4);
}

.dot {
  padding: 0;

  font-weight: 800;
}

.title {
  margin-bottom: 0.6rem;

  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;

  word-break: break-all;

  font: var(--text-body-1-med);
  color: var(--black);
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;

  word-break: break-all;

  font: var(--text-body-1-reg);
  color: var(--grey-4);
}

.thumbnail {
  width: 7.4rem;
  margin-left: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnailImg {
  width: 7.4rem;
  height: 7.4rem;
  border-radius: 0.5rem;
}

.actionContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.action {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  font: var(--text-body-2-reg);
  color: var(--grey-4);
}

.confirmIconContainer {
  position: relative;

  width: 1.2rem;
  height: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  cursor: default;

  &:hover {
    background-color: var(--grey-3);
  }

  &:hover .tooltip {
    opacity: 1;
  }
}

.confirmIcon {
  flex-shrink: 0;
}

.tooltip {
  position: absolute;
  bottom: calc(100% + 0.6rem);
  left: 50%;
  transform: translateX(-50%);

  padding: 0.5rem 0.7rem 0.3rem;
  white-space: nowrap;
  border-radius: 0.5rem;

  background-color: var(--grey-4);
  color: var(--white);
  font: var(--text-caption-1-reg);

  opacity: 0;
  transition: opacity 150ms ease;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -0.4rem) rotate(45deg);

    width: 0.8rem;
    height: 0.8rem;
    border-bottom-right-radius: 0.2rem;

    background-color: var(--grey-4);
  }
}
